:root {
  --color-nuit: #000e20;
  --color-lagune: #04343a;
  --color-papaye: #ef5a18;
  --color-papier: #f7f4f2;
  --color-brume: #dde6eb;
  --font-manrope: Manrope, ui-sans-serif, system-ui, sans-serif;
  --font-heebo: Heebo, ui-sans-serif, system-ui, sans-serif;
}
